{% extends 'base.html.twig' %}

{% block title %}Les recettes{% endblock %}

{% block body %}

<div class="slide container-fluid" id="recipes">
   
    
    <div class="container my-3">
    <h1 class="orange">Carnet de recettes</h1>
        <a href="{{path('home')}}"><button class="btn btn-warning m-3">
            <i class="fa-solid fa-arrow-left"></i> Retour à l'accueil</button>
        </a>

        <div class="card categories p-4">
        <p>Filtrer les recettes :</p>
            <div class="row">
                
                <div class="drink btn  col-md mx-3">
                   <i class="fa-regular fa-mug"></i>
                    <p><a href="">Les cafés</a></p>
                </div>
                <div class="drink btn col-md mx-3">
                    <i class="fa-regular fa-mug"></i>
                    <p><a href="">Les thés</a></p>
                </div>
                <div class="drink btn col-md mx-3">
                    <i class="fa-solid fa-whiskey-glass"></i>
                    <p><a href="">Les limonades</a></p>
                </div>
                <div class="drink btn col-md mx-3">
                    <i class="fa-solid fa-martini-glass-citrus"></i>
                    <p><a href="">Les moktails</a></p>
                </div>
                <div class="drink btn col-md mx-3">
                    <i class="fa-solid fa-martini-glass"></i>
                    <p><a href="">Les coktails</a></p>
                </div> 
            </div>
        </div>
    </div>

    <div class="container ">
        <h2 class="orange">Toutes les recettes </h2>
        <div class="row d-flex justify-content-evenly">
            {% for recipe in recipes %}
                <div class="col-md card mx-3">
                    <div class="like"><i class="fa-regular fa-heart"></i></div>
                    <img src="../uploads/{{recipe.image}}" class="card-img-top mt-3 img-fluid" alt="">
                    <div class="card-body">
                        <div class="category">{{recipe.category}}</div>
                        <div class="card-title"><b>{{recipe.title}}</b></div>
                        <div class="card-text">{{recipe.note}}</div>
                        <div class="card-text">
                            <p>{{recipe.time}} min</p>
                            <p>{{recipe.level}}</p>
                            <p>{{recipe.budget}}</p>
                        </div>
                        <a href="{{path('show_recipe', {"slug": recipe.slug})}}" class="btn btn-warning"><i class="fa-sharp fa-solid fa-eye"></i> Voir la recette</a>
                    </div>
                </div>
            {% endfor %}
            
            
        </div>
       
        
    </div>
    

</div>

{% endblock %}
